/*Main CSS file*/

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Droid Sans', sans-serif;

}

body {
  padding-top: 50px;
  background-image: url('../photos/skyline2BW-500pxDeep.jpg');
}
h1{
  font-family: 'Special Elite', cursive;
}

.droid-font{
  font-family: 'Droid Sans', sans-serif;
}
.elite-font{
  font-family: 'Special Elite', cursive;
}
.marginTop140{
  margin-top: 140px;
}

.container-fluid {padding: 0;}

/* .container {width: 100%; display: flex; flex-wrap: wrap;} */

/*.navbar {border: solid red;}*/

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
/*
.banner {
  width: 100%;
  height: 500px;
  position: fixed;
  background: url('../photos/skyline2BW.jpg');
}
*/
.banner-title {
  border-radius: 25px;
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 5px;
  margin-top: 220px;
  
}
.banner-title h1 {
    color: #FFF;
    font-size: 40px;
}
.maintext {
  padding: 30px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
  z-index: 1;
  position: relative;
}
.maintext .container {
  max-width: 100%;
}
@media screen and (min-width: 1200px){
  .marginTop140{
   margin-top: 490px;
}
}
@media screen and (min-width: 768px) {
  .maintext {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .maintext {
    padding-right: 60px;
    padding-left: 60px;
  }
}
.spacerImage {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(http://placehold.it/1200x650/cc0000/ffffff) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}
.page-break {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}